
<div ng-controller='listItems'>

<h1>{{ title }}</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr ng-repeat="item in items">
        <td>{{ item.title }}</td>
        <td></td>
      </tr>
  </tbody>
</table>

</div>

<br>

  <div class="field">
  </div>

