
<div ng-controller='listItems'>

  <table>
    <tbody>
        <tr ng-repeat="item in items">
          <td class='mobile'>{{ item.title }}</td>
          <td><button>Done</button></td>
        </tr>
        <tr>
          <td>
            <input type='text' id='newItem' ng-model='newItem' maxlength='30' class='mobile' />
          </td>
          <td>
            <button ng-click="addItem(newItem)" ng-disabled="!newItemValid(newItem)">Add</button>
          </td>
    </tbody>
  </table>

</div>

